.mainBackground{
	background-color: rgb(0, 0, 0);
	background-image: url("../img/mainBackground.jpg");
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover cover;
	max-width: 100%;
	width: 100%;
}
#logo{
	background-image: url("../img/intro.png");
	background-repeat: no-repeat;
	width: 100%;
	background-position: center center;
	padding-top: 12rem;
}

.actionPlayButton {
	background-image: url("../img/play-hover-off.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-top: 18rem;
}

.actionPlayButton:hover {
	background: url('../img/play-hover-on.gif') center center;
	background-repeat: no-repeat;
}

.footer{
	font-family: 'Orbitron', sans-serif;
    font-size: large;
	color: aqua;
}

/* Styles of fonts */
.historyText{
	background-image: url("../img/mainBackground.jpg");
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background-position: center center;
    background-size:auto;
    width: 100%;
}

.font-style{
    font-family: 'Orbitron', sans-serif;
    color:aqua;
    font-size: large;
}

.commands{
    background-image: url("../img/commands.png");
    background-repeat: no-repeat;
	background-position: center center;
    background-size:auto;
}

.clickToPlayButton{
    background-image: url("../img/click-to-play.png");
    background-repeat: no-repeat;
	background-position: center center;
    padding: 15rem;
}

.clickToPlayButton:hover{
    background-image: url("../img/click-to-play-hover.gif");

}