.mainBackground{
	background-color: rgb(0, 0, 0);
	background-image: url("../img/mainBackground.jpg");
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover cover;
	max-width: 100%;
	width: 100%;
}
#logo{
	background-image: url("../img/intro.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	background-position: center center;
	padding-top: 18rem;
}

.actionPlayButton {
	background-image: url("../img/play-hover-off.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-top: 18rem;
}

.actionPlayButton:hover {
	background: url('../img/play-hover-on.gif') center center;
	background-repeat: no-repeat;
}

.footer{
	color: aqua;
}

