.historyText{
	background-image: url("../img/mainBackground.jpg");
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background-position: center center;
    background-size:auto;
    width: 100%;
}

.chapterOneHistory{
    font-family: 'Orbitron', sans-serif;
    color: aqua;
    font-size: large;
}

.commands{
    background-image: url("../img/commands.png");
    background-repeat: no-repeat;
	background-position: center center;
    background-size:auto;
}

.clickToPlayButton{
    background-image: url("../img/click-to-play.png");
    background-repeat: no-repeat;
	background-position: center center;
    padding: 15rem;
}

.clickToPlayButton:hover{
    background-image: url("../img/click-to-play-hover.gif");

}